{% extends 'general/base.twig' %}

{% block title %} Selesaikan Transaksi {% endblock %}

{% block head_extra %}
{% endblock %}

{% block body %}
    {# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>

    </div>

{% endblock %}