{% extends 'general/base.twig' %}

{% block title %} Halaman Utama {% endblock %}

{% block head_extra %}
    <style>
    
        .list-group-item {
            height: 60px;
        }

    </style>
{% endblock %}

{% block body %}
    {# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>

        <div class="well well-sm">
            <h3> Selamat datang, {{ user.username }}! </h3>

            <p> Status Anda adalah: <span class="label label-danger"> {{ user.privilege | upper }} </span> </p>
        </div>

        <a class="btn btn-info btn-block" href="{{ path_for("inventory") }}">
            <span class="glyphicon glyphicon-list"> </span>
            Daftar Item 
        </a>

        <a class="btn btn-info btn-block" href="{{ path_for("inventory-item-search") }}">
            <span class="glyphicon glyphicon-search"> </span>
            Pencarian Item 
        </a>

{% endblock %}