<!DOCTYPE html>
<html>
    <head>
        <title> Inventory </title>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/default.css">
        <script src="{{ base_url() }}/public/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/public/js/bootstrap.js"></script>
    </head>

    <body>
        
        {# Navigation Bar #}
        {% include 'general/navbar.twig' %}

        <div class="container">
        </div>
    </body>
</html>