{% extends 'inventory/item_unit.twig' %}

{% block control_add %}
    <div style="text-align: right">
        <a href="{{ path_for('invoice-item-add', {'item_id': item.id}) }}" class="btn btn-xs {% if (not item.stock_warehouse) and (not item.stock_store)  %} disabled btn-default {% else %} btn-primary {% endif %}">
            Beli
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div>
{% endblock %}