{% extends 'general/base.twig' %}

{% block title %} Inventory | Tipe Barang {% endblock %}

{% block body %}
{# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">

        <div style="height: 60px"></div>


        
    </div>


{% endblock %}