<!DOCTYPE html>
<html>
    <head>
        <title> Inventory </title>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/default.css">
    </head>

    <body>
        <div class="container">
            
        </div>
    </body>
</html>