{% extends 'general/base.twig' %}

{% block body %}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>
        <div class="alert alert-danger">
            <h1> 404: Page Not Found. </h1>
            Maaf, Halaman yang Anda Hendak Akses Tidak Ada.
        </div>
    </div>

{% endblock %}
