{% extends 'general/base.twig' %}

{% block body %}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>
        <div class="alert alert-danger">
            Maaf, Anda tidak diijinkan untuk mengakses fitur ini.
        </div>
    </div>

{% endblock %}