<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/default.css">

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="{{ base_url() }}/public/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/public/js/bootstrap.js"></script>
        <script>if (window.module) module = window.module;</script>

        {% block head_extra %}{% endblock %}

    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>