{% if message %}
    {% for msg in message.success %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in message.error %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
{% endif %}