{% extends 'general/navbar_base.twig' %}

{# Navigation bar to be used for pages available only to users that have been logged in #}
{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="menu" href="{{ path_for('inventory') }}">
                Halaman Utama
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </li>
        <li>
            <a class="menu" href="{{ path_for('logout') }}">
                Keluar
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </li>
    </ul>
{% endblock %}