{# Navigation Bar #}
<nav style="position: fixed; z-index: 999" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">

        <button 
            type="button" 
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#collapsible-navbar">

            {#  The three horizontal bar icon that indicates a menu #}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand" href="{{ path_for('home') }}"> Lawar </a>
    </div>

    {# Menu that only appears if the screen's narrow enough #}
    <div class="collapse navbar-collapse" id="collapsible-navbar">

        {% block menu %}{% endblock %}

    </div>
</nav>