{% extends 'general/base.twig' %}

{% block title %} Tambahkan Item Ke Transaksi {% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 60px"></div>

        {% include 'invoice/transaction_item_unit.twig' %}

        <fieldset>
            <legend></legend>
        </fieldset>
    </div>

{% endblock %}