{% extends 'general/base.twig' %}

{% block title %} Shopping Cart {% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 60px"></div>


        {% include 'general/message_alert.twig' %}
    </div>

{% endblock %}